# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
ProjectSettings/Packages/com.unity.testtools.codecoverage/   # 若无可删

# IDE & tooling
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db
